body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
nav p{
	margin: 0 auto;
}
.headerText{
	font-size:30px;
	color: #FFF;
}
.header{
	width:100%;
}
.row{
	margin-right:0;
}
.content{
	margin-top:80px;
	text-align:center;
}
.container-fluid{
	min-height: 200px;
	padding:0px;
}
.container-fluid .descriptiveParagraph{
	text-align: center;
	padding: 45px 60px;
	font-size: 20px;
	line-height: 40px;
}
.container-fluid .left, .container-fluid .h3{
	text-align:left;
}
.sectionTitle{
	text-align:center !important;
	background-color: #D8D8D8;
	padding:15px;
}
.memberContainer{
	height: 400px;
}
.leftContainer{
	padding: 15px;
	text-align: left;
	height:auto;
	text-align: center;
}
.name{
	font-size: 25px;
}
.photo{
	width: auto;
	height: 300px;
	display: block;
	margin: auto;
}
.mockup{
	height: 500px;
}
.center{
	margin:auto;
}
.rightContainer{
	height:auto;
	text-align: center;
	padding: 50px;
	font-size: 20px;
}

/** PHONE MOCKUP SLIDESHOW **/
#cf {
  position:relative;
  height:281px;
  width:450px;
  margin-left:50px;
}

#cf img {
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

  @keyframes cfFadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf img.topcf {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}